@import '../../Styles/colors';
@import '../../Styles/sizes';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  grid-area: header;
  margin-left: $indent-l;
}

.Header__logo {
  color: $dark;
  font-size: 20px;
  line-height: 1.4;
  margin: $indent-m 0 78px;
}

.Header__menu {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.Header__menu span {
  margin-left: 10px;
  font-size: 20px;
  line-height: 1.4;
  color: $grey-dark;
}


@media (max-width: 1200px) {
  .Header {
    margin: 0 ($indent-l / 2);
  }
}

@media (max-width: 1000px) {
  .Header {
    margin: 0 ($indent-l / 3.5);
  }
}
