@import '../../Styles/colors';
@import '../../Styles/sizes';

.Jokes {
  height: 55vh;
  overflow: auto;
}

.Jokes__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 78px;
  height: 60vh;
  overflow: visible;
}

.Jokes__item {
  background: $grey-light;
  border-radius: 20px;
  max-width: 900px;
}

.Jokes__item svg.heart {
  right: $indent-m;
  top: $indent-m;
}

.Jokes__item svg .circle {
  fill: $white;
}

.Jokes__item .JokeItem__wrapper {
  margin: 67px $indent-m 45px;
}

.Jokes__item .JokeItem__text {
  margin-bottom: 28px;
}
